.card-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 1.5rem;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    /* backface-visibility: hidden; */
    /* transform: translateZ(0); */
    transition: transform .25s cubic-bezier(.06,.65,.57,.95);
}

.card-container:hover { transform: scale(1.05) translateY(-3px); }

.card-container:active { transform: scale(.95) translateY(-1px); }

.card-container h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

.card-container p { font-size: 1.5rem; }