.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.button {
  color: white;
  background-color: green;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
  transition: all .2s;
}

.button:hover {
  background-color: lightgreen;
  color: rgba(0, 0, 0, .9);
}